body {
  background-color: hsla(249, 21%, 12%, 0.871);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.container{
  width: 280px;
  height: 340px;
  background-color: rgba(255, 255, 255, 0.947);
  margin-top: 13%;
  border-radius: 15px;

}

#heading{
 font-weight: 600;
 font-size: 24px;
 margin-left: 23px;
}
#displayElement{
  width: 80%;
  margin-left: 25px;
  font-size: 30px;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 6px rgba(159, 155, 147, 0.338);
}
#PasswordLangthShowContainer{
  margin: 18px 0 -6px 0;

}
#PasswordLangthShow{
  padding-left: 28px;
  font-size: small;
  font-weight: 500;
}
#PasswordCounter{
  padding-left: 110px;
}
#inputRange{
  width: 82%;
  margin-left: 26px;
}
#optionContainer{
  margin: 15px 0  0 29px;
}
.checkboxLable{
  font-weight: 100;
  font-family:'Trebuchet MS', Grande', 'Lucida Sans', Arial, sans-serif;
}

#submitButton{
  width: 86%;
  height: 38px;
  margin: 25px 0 0 9px;
  border-radius: 5px;
  background-color: rgba(16, 99, 207, 0.814);
  border: none;
  color: white;
  cursor: pointer;
}



